@import 'components/normalize';
@import 'components/variables';
@import 'components/nav';
@import 'components/border-lines-effect';
@import 'components/hidden-effect';
@import 'components/contact';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0 auto;
  font-family: 'Poiret One', cursive;
  color: $foreground-colour;
}

main {
  position: relative;
  width: 70%;
  left: 15%;
  padding: 0 10%;

  a, a:link, a:visited {
    color: $hidden-colour;
  }
}

section {
  padding: 300px 0 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &#contact {
    padding-bottom: 250px;
  }

  h1 {
    text-align: center;
  }
}

article {
  padding: 200px 0 600px;

  &:nth-last-child(1) {
    padding-bottom: 0;
  }

  a {
    margin-right: 30px;
  }
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;

  &:link, &:visited {
    color: inherit;
  }
}

p {
  font-family: 'Open Sans', sans-serif;
}
