* {
  box-sizing: border-box;
}

nav {
  position: fixed;

  &#right-nav {
    left: 85%;
  }
}

main {
  position: relative;
  width: 70%;
  left: 15%;
}

section {
  padding: 0 0 800px;

  &#about {
    padding-top: 300px;
  }

  &#contact {
    padding-bottom: 350px;
  }
}

article {
  margin: 200px 0 800px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}