* {
  box-sizing: border-box;
}

nav {
  position: fixed;

  &#right-nav {
    left: 85%;
  }
}

main {
  position: relative;
  width: 70%;
  left: 15%;
}

section, article {
  padding: 300px 0 800px;

  &#contact {
    padding-bottom: 350px;
  }
}