.hidden {
  color: $hidden-colour;
  border-color: $hidden-colour;
  transition: color 1000ms ease-out, border-color 1000ms ease-out;

  &.visible {
    color: $foreground-colour;
    border-color: $foreground-colour;
  }
}