.hidden {
  color: $hidden-colour;
  border-color: $hidden-colour;
  transition: color 20ms linear, border-color 20ms linear;

  &.visible {
    color: $primary-colour;
    border-color: $primary-colour;
  }
}

article a.hidden.visible {
  color: $secondary-colour;
}
