.hidden {
  color: $hidden-colour;
  border-color: $hidden-colour;
  transition: color 1000ms linear, border-color 1000ms linear;

  &.visible {
    color: $primary-colour;
    border-color: $primary-colour;
  }
}