section, article {
  padding: 300px 0 500px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  &#projects > a {
    margin-bottom: 500px;
    font-size: 1.6rem;
  }
}

article {
  &:nth-last-child(1) {
    padding-bottom: 0;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
    }
  }

  i {
    font-size: 2rem;
    margin-right: 8px;
  }

  a {
    margin-right: 30px;
  }
}
