$background-colour: #f3f4ed;
$primary-colour: #424642;
$secondary-colour: #536162;
$highlight-colour: #c06014;
$hidden-colour: #0000;

$header-font: 'Poiret One', cursive;
$body-font: 'Open Sans', sans-serif;
