$background-colour: #f3f4ed;
$primary-colour: #424642;
$secondary-colour: #8B1E3F;
$highlight-colour: #ab5712;
$hidden-colour: #0000;

$header-font: 'Poiret One', cursive;
$body-font: 'Open Sans', sans-serif;
